* {
    margin: 0 0 0 10px;
    padding:0;
    box-sizing: border-box;
}

body {
    color: darkmagenta;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    padding: 35px 50px;
}
header h1 {
    color: magenta;
    font-size: 90px;
    font-weight: bold;
    font-style: italic;
    margin: 0;
    text-align: center;
}
.primary-border {
    color:crimson;
}
.secondary-border {
    color:cadetblue
}
.section-title {
    font-size: 65px;
    color:red;
    margin-bottom: 43px;
    padding: 0 125px 20px 125px;
    display: inline-block;
    border-bottom: 3px solid;
}
section {
    padding: 60px;

}
header nav {
    float: right;
    margin: 7px 0;
    padding-top: 10px;
    border: 3px solid darkmagenta;
    border-style:double;
}
header nav ul li {
    display: inline;
}
.contact {
    text-align: right;
}
.Max {
    text-align: center;
    width: 900px;
    margin: 0 auto 30px auto;
    background: lightpink;
    color: darkmagenta;
    overflow: auto;
}
.contact h2 {
    color: crimson;
    width: 900px;
    margin: 0 auto 10px auto;
    background: lightseagreen;
    overflow: auto;
}
.intro {
    width: 900px;
    margin: 0 auto 30px auto;
    background: lightpink;
    color: darkmagenta;
    overflow: auto;
    float: left;
}
html {
    color: lightseagreen;
}
.contact-info {
    width: 410px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 30px 0 0 60px;
}
.contact-me {
    font-size: 20px;
}
.contact-me h3 {
    font-size: 35px;
}
