* {
    margin: 0 0 0 10px;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    display:inline-block;
}

header {
    padding: 35px 50px;
}
header h1 {
    color: crimson;
    font-size: 90px;
    font-weight: bold;
    font-style: italic;
    margin: 0;
    text-align: center;
    width: 1600px;
    height: 150px;
    background-color: aquamarine;
}
.primary-border {
    color:crimson;
}
.secondary-border {
    color:cadetblue
}
.section-title {
    font-size: 65px;
    color:red;
    margin-bottom: 43px;
    padding: 0 20px 20px 20px;
    display: inline-block;
    border: 3px solid;
}
section {
    padding: 60px;

}
header nav {
    float: top;
    margin: 10px 0;
    padding-top: 5px;
    border: 10px solid darkmagenta;
    border-style:double;
    text-align: center;
}
header nav ul li {
    display: inline-block;
    padding: 20px 0px 20px 0px;
    justify-content: space;
}
.contact {
    text-align: right;
}
.Max {
    text-align: center;
    width: 1100px;
    margin: 0 30px 30px 30px;
    background: aquamarine;
    color: darkmagenta;
    overflow: auto;
    border: 10px bold black;
    padding-right: 40px;
    display: inline-flex;
}
.contact h2 {
    color: crimson;
    width: 900px;
    height: 300px;
    margin: 0 auto 10px auto;
    background: aquamarine;
    overflow: auto;
    font-size: 35px;
    padding-right: 20px;
}
.intro {
    margin: 0 auto 30px auto;
    background: skyblue;
    color: darkmagenta;
    overflow: auto;
    float: left;
    font-size: 35px;
    block-size: auto;
}
html {
    color: aquamarine;
}
.contact-info {
    width: 410px;
    height: 410px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 30px 0 0 60px;
    background-color: beige;
}
.contact-me {
    font-size: 20px;
}
.contact-me h3 {
    font-size: 35px;
}

.intro2 {
    margin: 0 auto 30px auto;
    background: teal;
    color: darkmagenta;
    overflow: auto;
    float: right;
    font-size: 35px;
    height: 900px;
    
}